<!--<div class="body_heigth  ">
    <div class=" ">
        <ul class=" list-group-flush  body_menu">
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_panel_control.png" alt=""><a class="header_leter" [routerLink]="['controlpanel']">Panel de control</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_manage.png" alt=""><a class="header_leter" [routerLink]="['gestioninventario']">Gestión Inventario</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_manage_loan.png" alt=""><a class="header_leter" [routerLink]="['gestionprestamo']">Gestión Préstamos</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_notification.png" alt=""><a class="header_leter" [routerLink]="['notificaciones']">Notificaciones</a> </li>
        </ul>
    </div>
</div>-->

<div class="container body_heigth text-center">
    <div class="row ">
        <div class="my-2 mx-5 col-3 alert alert-info text-center">
            <a class="header_leter " [routerLink]="['gestioninventario']"><img class="body_icon" src="./assets/icon's/icon_manage.png" alt="">Gestión Inventario</a>
        </div>
        <div class="my-2 mx-4 col-3 alert alert-info text-center">
            <a class="header_leter" [routerLink]="['gestionprestamo']"><img class="body_icon" src="./assets/icon's/icon_manage_loan.png" alt="">Gestión Préstamos</a>
        </div>
        <div class="my-2 mx-5 col-3 alert alert-info text-center">
            <a class="header_leter" [routerLink]="['notificaciones']"><img class="body_icon" src="./assets/icon's/icon_notification.png" alt="">Notificaciones</a>
        </div>
    </div>
</div>