<div class="body_heigth  ">
    <div class=" ">
        <ul class=" list-group-flush  body_menu">
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_panel_control.png" alt=""><a class="header_leter" [routerLink]="['controlpanel']">Panel de control</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_manage.png" alt=""><a class="header_leter" [routerLink]="['gestioninventario']">Gestión Inventario</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_manage_loan.png" alt=""><a class="header_leter" [routerLink]="['gestionprestamo']">Gestión Préstamos</a> </li>
            <li class="my-4 " routerLinkActive="active"><img class="body_icon" src="./assets/icon's/icon_notification.png" alt=""><a class="header_leter" [routerLink]="['notificaciones']">Notificaciones</a> </li>
        </ul>

    </div>
    <div class="text-center">
        <button class="btn body_button">
            Cerrar sesión
        </button>
    </div>

</div>