<app-navbar [icon]="icon" [redirectionRoute]="redirectionRoute" [componentName]="componentName"></app-navbar>

<div class="row">
    <div class="col-6 title">
        <span class="h1 color">Recursos de {{laboratorio}}</span>
    </div>
    <div class="search-bar col-8">
        <input type="text" class="form-control" name="filterPost" placeholder="Buscar por nombre" [(ngModel)]="filterPost">
    </div>
</div>

<div class="mx-5">
    <div class="my-4 mx-2 fondo  radius text-center col-12">
        <h5 class=" radius bg-warning  "><strong> ITEMS</strong></h5>
        <table class="table">
            <thead>
                <tr class="tablecolor text-white">
                    <th scope="col">Código</th>
                    <th scope="col">Nombre del recurso</th>
                    <th scope="col">Disponible</th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let item of recursos | filter:filterPost">
                <tr>
                    <td class="bg-light">{{item.id}}</td>
                    <td class="bg-light">{{item.name}}</td>
                    <td class="bg-light">Si</td>
                    <td class="bg-light">
                        <button class="mx-2 btn btn-success " (click)="openModal(item)">
                                <fa-icon [icon]="faPenSquare"></fa-icon>
                                <span> Solicitar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>