<!--<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="assets/img/sgi-logo.png" width="50%" height="auto" alt="" loading="lazy">
    </a>
    <div>
        <span class="navbar-text">
           {{ currentUser }}
          </span>
    </div>
</nav>-->

<nav class="d-nav navbar navbar-expand-lg navbar-light">
    <img class="nav-item" src="assets/img/background_login6.png " width="2%" height="auto" alt="" class="img-fluid">
    <div class="nav-item mx-4 header_leter ">
        <h5 cl>SGI</h5>
    </div>
    <div class="ml-auto text-center header_nav2">
        <ul class="header_nav2">
            <li class="my-1">{{ displayName }}</li>
            <li class="mx-5">
                <a href=""><img class="" src="./assets/icon's/icon_user.png" alt=""></a>
            </li>
        </ul>
    </div>
</nav>