<app-navbar [icon]="icon" [redirectionRoute]="redirectionRoute" [componentName]="componentName"></app-navbar>

<div *ngIf="requests && !isMod" class="div-centered">
    <table class="table w-auto">
        <thead class="thead-light">
            <tr class="text-center ">
                <th>#</th>
                <th><strong>Item</strong></th>
                <th><strong>Fecha de solicitud</strong></th>
                <th><strong>Fecha de devolución</strong></th>
                <th><strong>Estado</strong></th>
                <th><strong>Motivo</strong></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests|  paginate: { itemsPerPage: 6, currentPage: pageActual };let i = index">
                <td scope="row"><strong>{{i + 1}}</strong></td>
                <td>{{ request.store_item.item.name }}</td>
                <td>{{ request.created_at | date: 'dd/MM/yyyy'}}</td>
                <td>{{ request.date_limit | date: 'dd/MM/yyyy'}}</td>
                <td>{{ request.status.name }}</td>
                <td>{{ request.comment }}</td>
                <!-- request.id-->
                <td>
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-danger" (click)="borrowId = request.id; cancelBorrow()">
                                    Cancelar
                                </button>
                        <button *ngIf="request.status.name ==='En revisión'" class="btn btn-primary" (click)="borrowId = request.id; isMod =true">
                                    Editar
                                </button>
                        <button *ngIf="request.status.name !=='En revisión'" class="btn btn-primary" (click)="borrowId = request.id; isMod =true" disabled>
                                    Editar
                                </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class=" text-center">
        <pagination-controls class=" custom-pagination text-primary" (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>

<div *ngIf="isMod">
    <br>
    <div class="container bg-white radius w-50 ">
        <div class=" radius text-center fondo">
            <br>
            <h4 class=" text-primary "><strong>Modificar Solicitud</strong></h4>
            <div class=" my-4 text-center">
                <h5>Fecha de devolución<span class="text-danger">*</span></h5>
                <input class="form-control w-50 mx-auto" name="" type="datetime-local" [(ngModel)]="borrow.date_limit">
            </div>
            <div>
                <h5>Razón del préstamo<span class="text-danger">*</span></h5>
                <textarea placeholder="Ingrese el nuevo comentario" class="form-control w-50 mx-auto radius" cols="10" rows="5" [(ngModel)]="borrow.comment"></textarea>
            </div>
            <br>
            <div class="text-center my-2">
                <button class="btn btn-success " id="acept" (click)=" updateBorrow()">Aceptar</button>
                <button class="btn btn-danger mx-4" (click)="isMod = false">Cancelar</button>
            </div>
            <br>
        </div>

    </div>
    <br>
    <br>
</div>