<!-- Dashboard Authenticated -->
<div class="text-center">
    <div class="">
        <div class="">
            <app-userlab></app-userlab>
        </div>
        <!-- TODO Impementear Solicitudes a lado de la barra o acomodarlo en un lugar chevere
        <div class="my-2 mx-5 col-3 alert body_bg text-center">
            <a class="header_leter " [routerLink]="['userlab']"><img class="body_icon" src="./assets/icon's/icon_manage.png" alt="">Buscar recurso</a>
        </div>
        <div class="my-2 mx-4 col-3 alert body_bg text-center">
            <a class="header_leter" [routerLink]="['gestionprestamo']"><img class="body_icon" src="./assets/icon's/icon_manage_loan.png" alt="">Solicitudes</a>
        </div>
        <div class="my-2 mx-5 col-3 alert body_bg text-center">
            <a class="header_leter" [routerLink]="['notificaciones']"><img class="body_icon" src="./assets/icon's/icon_notification.png" alt="">Notificaciones</a>
        </div>-->
    </div>
</div>