<div class="row  login_widht body_bg ">
    <div class="col-4  login_bg ">
        <div class="mx-lg-4 text-center login_sgi ">
            <h1><strong>SGI</strong> </h1>
            <h5 class="my-lg-5">Sistema gestión de inventarios </h5>
        </div>
        <div class="text-center login_img">
            <img src="./assets/img/background_login2.png" width="75%" alt="">
            <img src="./assets/img/background_login4.png" width="45%" alt="">
        </div>
    </div>

    <div class="col-8 text-center   login_center">
        <div class="col-sm-5 fondo login_account">
            <img src="./assets/icon's/icon_user.png" class="my-3" alt="">
            <form [formGroup]="loginForm" (ngSubmit)="send(loginForm.value)" class="login_form  text-center">
                <div class="form-group ">

                    <input formControlName="email" type="email" class="form-control" placeholder="Email">
                    <span class="small text-white" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">Es necesario ingresar el Correo electrónico</span>
                </div>
                <div class="form-group">

                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                    <span class="small text-white" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Es necesario ingresar la contraseña</span>
                </div>
                <div class="text-center">
                    <button [disabled]="loginForm.invalid" type="submit" class="my-2 btn bg-white">Iniciar Sesión</button>
                </div>
                <div class="text-center">
                    <span class="txt2">o inicia sesión con</span>
                </div>

                <div class="text-center">

                    <a name="" id="" class="btn microsoft-btn text-white" href="http://localhost:1337/connect/microsoft" role="button">
                        <img src="assets/img/ms-symbollockup_mssymbol_19.png" alt="" sizes="" srcset=""> Inicia sesión con Microsoft</a>
                </div>
            </form>
        </div>
    </div>
</div>