<div class="row  login_widht body_bg ">
    <div class="col-4  login_bg ">
        <div class="mx-lg-4 text-center login_sgi ">
            <h1><strong>SGI</strong> </h1>
            <h5 class="my-lg-5">Sistema gestión de inventarios </h5>
        </div>
        <div class="text-center login_img">
            <img src="./assets/img/background_login2.png" width="75%" alt="">
            <img src="./assets/img/background_login4.png" width="45%" alt="">
        </div>

    </div>

    <div class="col-8 text-center   login_center ">
        <div class="col-sm-5  login_account">
            <h1 class="header_leter"><strong>Bienvenido</strong> </h1>
            <p class="header_leter">Por favor ingrese sus crendenciales</p>

            <div class="my-2 login_opacity ">
                <img src="./assets/icon's/icon_user.png" class="my-3" alt="">
                <form class="login_form" action="">

                    <input class="my-2" type="email" placeholder="Correo" required autofocus>
                    <input type="password" placeholder="Contraseña" required>

                </form>
                <button class="my-2 btn body_button">
                    Ingresar
                    </button>
            </div>

        </div>

    </div>
</div>