<div *ngFor="let laboratorio of laboratorios">
    <span class="display-4">{{laboratorio.name}}</span>
    <div class="row">
        <div *ngFor="let recurso of recursos" class="col-3 card text-center" style="width: 25rem;" class="container">
            <div class="card w-100">
                <div class="card-body">
                    <strong>{{recurso.name}}</strong>
                    <img class="text-center" [src]="recurso.img" alt="Card image cap" width="60%" alt="">
                    <p class="card-text text-center">{{recurso.description}}</p>
                    <a href="#" class="btn btn-primary text-center">Ver Detalles</a>

                </div>
            </div>


        </div>
    </div>


</div>