<app-navbar [icon]="icon" [redirectionRoute]="redirectionRoute" [componentName]="componentName"></app-navbar>

<div *ngIf="laboratorios" class="u-background-color">
    <div class="row">
        <div class="col-6 title">
            <span class="h1 color">Recursos del Laboratorio</span>
        </div>
        <div class="search-bar col-8">
            <input type="text" class="form-control" name="filterPost" placeholder="Buscar por nombre" [(ngModel)]="filterPost">
        </div>
    </div>

    <div>
        <button href="#" class="btn btn-success text-white my-3 mx-4" (click)="isOn = true">
            <fa-icon [icon]="faPlusCircle"></fa-icon> <span> Nuevo Recurso</span> </button>
        <div class="container text-center " *ngIf="isOn">
            <div class="bg-white radius">
                <h5 class=" text-info">Nuevo Item</h5>
                <div class="row ">
                    <div class="col-5 mx-5 my-3">
                        <p>Photo</p>
                    </div>
                    <div class="col-5  my-3">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre">

                        <textarea class="my-3 form-control" name="" id="" cols="60" rows="10" placeholder="Ingrese la descripción"></textarea>
                    </div>
                </div>
                <button class="my-2 btn btn-success">
                        Agregar
                     </button>
                <button class="mx-5 btn btn-danger" (click)="isOn = false">
                       Cancelar
                    </button>
            </div>
        </div>
    </div>
    <div class="row " *ngIf="!isOn">
        <h2>{{recursos.length}}</h2>
        <div *ngFor="let recurso of recursos | filter:filterPost" class=" border-success col-3 card text-center " style="width: 25rem; " class="container ">
            <div class="my-4 card w-100 text-center ">
                <div class="card-header bg-warning border-secondary "> </div>
                <div class="card-body ">
                    <!-- <img class="card-img-top " [src]="recurso.img " alt="Recurso del laboratorio" width="65% " alt="45"> -->
                    <img src="assets/img/background_login6.png " width=" " height=" " alt="Recurso del laboratorio" class="img-fluid ">
                    <h5 class="card-title ">{{recurso.name}}</h5>
                    <p class="card-text text-center ">{{recurso.description}}</p>
                    <div class="card-footer bg-transparent ">
                        <a href="# " class="btn btn-light border-secondary text-info " [routerLink]="[ 'itemList',recurso.id] ">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>