<app-navbar [icon]="icon" [redirectionRoute]="redirectionRoute" [componentName]="componentName"></app-navbar>

<div *ngIf="laboratorios" class="u-background-color row">

    <div class="col-12 row" *ngIf="isOn">
        <div class="col-12 row">
            <div class="col-10 title">
                <span class="h1 color-dark-blue">Registrar nuevo recurso</span>
            </div>
            <div class="col-6 div-centered">
                <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="itemName">Nombre*</label>
                        <input type="text" formControlName="itemName" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="itemDescription">Descripción*</label>
                        <textarea type="text" formControlName="itemDescription" id="" class="form-control" placeholder="" rows="2" cols="4"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" formControlName="itemImg" name="itemImg" (change)="onFileSelect($event)" />
                        <img width="50%" class="display" alt="image" [src]="imageUrl" *ngIf="imageUrl">
                    </div>
                    <div class="float-right">
                        <button class="btn btn-outline-danger" (click)="cancel()">
                                    Cancelar
                                </button>
                        <button [disabled]="uploadForm.invalid" class="btn btn-primary">
                                    Enviar
                                </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12 row" *ngIf="!isOn">
        <div class="col-12 row">
            <div class="col-10 title">
                <span class="h1 color-dark-blue">Recursos del Laboratorio</span>
            </div>
            <div class="search-bar col-8">
                <input type="text" class="form-control" name="filterPost" placeholder="Buscar por nombre" [(ngModel)]="filterPost">
            </div>
            <div class="col-3">
                <button href="#" class="btn btn-success text-white my-3 mx-4" (click)="isOn = true">
                    <fa-icon [icon]="faPlusCircle"></fa-icon> <span> Nuevo Recurso</span> </button>
            </div>
        </div>
        <div *ngFor="let recurso of recursos | filter:filterPost" class=" border-success col-3 card text-center " style="width: 25rem; " class="container ">
            <div class="my-4 card w-100 text-center ">
                <div class="card-header bg-warning border-secondary "> </div>
                <div class="card-body ">
                    <!-- <img class="card-img-top " [src]="recurso.img " alt="Recurso del laboratorio" width="65% " alt="45"> -->
                    <img src="assets/img/background_login6.png " width=" " height=" " alt="Recurso del laboratorio" class="img-fluid ">
                    <h5 class="card-title ">{{recurso.name}}</h5>
                    <!-- TODO Arreglar el numero de items -->
                    <h5 class="card-subtitle ">{{recurso.store_items.lenght}}</h5>
                    <p class="card-text text-center ">{{recurso.description}}</p>
                    <div class="card-footer bg-transparent ">
                        <a href="# " class="btn btn-light border-secondary text-info " [routerLink]="[ 'itemList',recurso.id] ">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto my-3">
            <pagination-controls class=" custom-pagination text-primary" (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
    <div class="">
        <br>
    </div>
</div>