<nav class="navbar navbar-expand-lg navbar-light component-title">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/{{redirectionRoute}}">
            <fa-icon [icon]="faArrowLeft" size="lg" class="back-icon"></fa-icon>
        </a>
        <!-- <div class="nav-item">
            <img class="title_icon" src="./assets/icon's/{{icon}}" alt="">
        </div> -->

        <div class="nav-item">
            <span>{{ componentName }}</span>
        </div>
    </div>
</nav>
<div class="line">
    <br>
</div>