    #sgi-logo {
        width: 100%;
        max-width: 50px;
    }
    
    .login-banner {
        background-color: rgb(216, 216, 216);
        /* Generalstyles  */
    }
    
    .complete_screen {
        /* height: 100vh; */
    }
    
    .line {
        background-color: #FCC000;
    }
    
    .color_blue {
        color: #014170;
    }
    
    .color_search {
        background-color: #727C8E;
    }
    /*styles of headere component */
    
    .header_nav {
        height: 7%;
        width: 100%;
        background-color: #127681;
        color: #FCC000;
    }
    
    .header_leter {
        color: #F1F1F5;
        padding-top: 0.5em;
        padding-left: 0.5em;
    }
    
    .header_leter:hover {
        color: #cfcfcf;
        padding-top: 0.5em;
        padding-left: 0.5em;
        text-decoration: none;
    }
    /*styles of body component */
    
    .body_content {
        width: auto;
        height: auto;
    }
    
    .body_bg {
        background-color: #014170;
    }
    
    .body_button {
        background-color: #FCC000;
        margin-top: 18em;
        height: auto;
        font-size: 14px;
    }
    
    .body_heigth {
        height: 93vh;
    }
    
    .body_menu {
        color: #FCC000;
        padding-top: 1em;
        font-size: 13.2px;
        list-style: none;
    }
    
    .body_icon {
        width: 20%;
        margin-right: 0.5em;
    }
    
    .login_position {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    .login_bg {
        background-color: #FCC000;
    }
    
    .login_form {
        max-width: 330px;
        padding: 15px;
    }
    
    .login_account {
        background-color: #014170;
        -moz-box-shadow: 0px 2px 2px black;
        -webkit-box-shadow: 0px 2px 2px black;
        box-shadow: 0px 2px 2px black;
    }
    
    .login_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .login_opacity {
        background-color: #014170;
        opacity: 0.8;
        /* Opacidad 60% */
    }
    
    .login_sgi {
        background-color: black;
        color: #FCC000;
        padding-top: 2em;
        height: 40%;
    }
    /* Animaciones*/
    
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .fast {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .fadeIn {
        animation-name: fadeIn;
    }
    
    .contenedor {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .no-padding {
        padding: 0 !important;
    }
    
    .search-bar {
        margin: 1em;
    }
    
    .row {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    
    .component-title {
        background-color: #004370;
        color: #F1F1F5;
    }
    
    .div-centered {
        display: table;
        margin: 0 auto;
        margin-top: 2em;
        border: 1px solid rgb(221, 221, 221);
    }
    
    .back-icon {
        color: #F1F1F5;
    }
    
    .title_span {
        margin: 1em;
    }
    
    .title_icon {
        /* margin: 1em; */
        width: 2em;
    }
    
    .component-table {
        margin-top: 2em;
    }
    
    a.nav-item {
        margin: auto;
    }
    
    .d-nav {
        background-color: #004370;
        color: #F1F1F5;
    }
    
    .u-background-color {
        /* background-color: #E4E3E3; */
        background-color: #F1F1F5;
    }
    
    .color-dark-blue {
        color: #014170;
    }
    /*Height of br*/
    
    .brt {
        line-height: 50%;
    }
    /*Pagination Style*/
    
    .custom-pagination /deep/ .ngx-pagination .current {
        background: #014170;
    }