<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Solicitud de préstamo</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- TODO: Completar el search select -->
<div class="modal-body">
    <form [formGroup]="borrowForm" (ngSubmit)="send(borrowForm)">
        <div class="form-group">
            <label class="h6" for="issuedItem">Item solicitado: </label>
            <input class="form-control" type="text" name="issuedItem" id="issuedItem" value="{{resource.name}}" disabled>
        </div>
        <div class="form-group">
            <span class="h6" for="selectTutor">Selecciona tu tutor:</span>

            <ng-autocomplete name="selectTutor" (selected)='selectEvent($event)' [data]="tutors" [searchKeyword]="keyword" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" placeholder="Ingresa el nombre de tu tutor">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.displayName"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>

        <div class="form-group">
            <label class="h6" for="dateLimit">Fecha de devolución: </label>
            <input formControlName="date_limit" class="form-control" type="datetime-local" name="dateLimit" id="dateLimit">
        </div>

        <div class="form-group">
            <span class="h6">Razón del préstamo: </span>
            <textarea formControlName="comment" class="form-control" name="comment" id="comment" cols="30" rows="3"></textarea>
        </div>

        <div class="text-center form-group">
            <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss()">Cancelar</button>
            <button type="button" type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>